
body.sessions-new {
  background-color: #f3f3f3;
}
body.sessions-new #root {
  height: 100%;
}
body.sessions-new .login.grid {
  height: 100%;
}
/**
.image {
  margin-top: -100px;
}
**/
.login > .column {
  max-width: 450px;
}
